<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>LaraRust 🚀</title>
        <style>
            body {
                font-family: sans-serif;
                text-align: center;
                margin-top: 10%;
                background: #1b1b1d;
                color: #fff;
            }
            h1 {
                color: #f97316;
            }
            small {
                color: #999;
            }
        </style>
    </head>
    <body>
        <h1>🚀 Welcome to LaraRust</h1>
        <p>The power of Laravel, in the security of Rust.</p>
        <small>Framework in development by Vinicius Rech de Camargo</small>
        {% if admin %}
        <p>You are an admin!</p>
        {% else %}
        <p>You are a user!</p>
        {% endif %}
    </body>
</html>
